<p class="text-right" style="margin-bottom:10px;">
  <%= link_to raw("<i class='glyphicon glyphicon-chevron-left'></i>ย้อนกลับ"), users_path, class: "btn btn-warning" %>
</p>
<%= render partial: 'form', locals: {title: "แก้ไขเพิ่มผู้ใช้งาน"} %>