<%= render "maps" %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete, id: "sign_out", style: "display:none;" %>
<!-- <p class="notice"><%#= notice %></p>
<p class="alert"><%#= alert %></p> -->